USE [master]
GO
/****** Object:  Database [Coffee]    Script Date: 01/18/2022 23:59:41 ******/
CREATE DATABASE [Coffee] ON  PRIMARY 
( NAME = N'Coffee', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Coffee.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Coffee_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Coffee_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Coffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Coffee]
GO
/****** Object:  UserDefinedTableType [dbo].[MyTableType]    Script Date: 01/18/2022 23:59:41 ******/
CREATE TYPE [dbo].[MyTableType] AS TABLE(
	[unitPrice] [float] NOT NULL,
	[number] [int] NULL,
	[idBill] [bigint] NOT NULL,
	[idProduct] [bigint] NOT NULL,
	[intoMoney] [float] NOT NULL,
	[description] [nvarchar](500) NULL
)
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameMenu] [nvarchar](500) NULL,
	[nameShow] [nvarchar](500) NULL,
 CONSTRAINT [PK_MenuItems] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON
INSERT [dbo].[MenuItems] ([id], [nameMenu], [nameShow]) VALUES (1, N'tsmiLoginManager', N'Quản lý đăng nhập')
INSERT [dbo].[MenuItems] ([id], [nameMenu], [nameShow]) VALUES (3, N'tsmnTable', N'Quản lý bàn')
INSERT [dbo].[MenuItems] ([id], [nameMenu], [nameShow]) VALUES (4, N'tsmnMenu', N'Quản lý menu')
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
/****** Object:  Table [dbo].[LoginRole]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginRole](
	[id] [bigint] NOT NULL,
	[idLogin] [bigint] NULL,
	[idMenuItems] [int] NULL,
 CONSTRAINT [PK_LoginRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoginRole] ([id], [idLogin], [idMenuItems]) VALUES (202111181029192343, 2021083109244249, 1)
INSERT [dbo].[LoginRole] ([id], [idLogin], [idMenuItems]) VALUES (202111181029193403, 2021083109244249, 3)
INSERT [dbo].[LoginRole] ([id], [idLogin], [idMenuItems]) VALUES (202111181029193503, 2021083109244249, 4)
/****** Object:  Table [dbo].[Login]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[id] [bigint] NOT NULL,
	[idEmployees] [bigint] NULL,
	[userName] [varchar](250) NULL,
	[password] [varchar](max) NULL,
	[isUse] [bit] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Login] ([id], [idEmployees], [userName], [password], [isUse]) VALUES (2021083109244249, 2021083109244249, N'admin', N'0sqR0TqGHo8=', 1)
INSERT [dbo].[Login] ([id], [idEmployees], [userName], [password], [isUse]) VALUES (202201041004118607, 202201031131128233, N'aaa', N'0sqR0TqGHo8=', 1)
/****** Object:  UserDefinedTableType [dbo].[forBillDetailt1]    Script Date: 01/18/2022 23:59:43 ******/
CREATE TYPE [dbo].[forBillDetailt1] AS TABLE(
	[id] [bigint] NOT NULL,
	[unitPrice] [float] NULL,
	[number] [int] NULL,
	[idBill] [bigint] NULL,
	[idProduct] [bigint] NULL,
	[intoMoney] [float] NULL,
	[description] [nvarchar](500) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[forBillDetailt]    Script Date: 01/18/2022 23:59:43 ******/
CREATE TYPE [dbo].[forBillDetailt] AS TABLE(
	[id] [bigint] NOT NULL,
	[unitPrice] [float] NULL,
	[number] [int] NULL,
	[idBill] [bigint] NULL,
	[idProduct] [bigint] NULL,
	[intoMoney] [float] NULL,
	[description] [float] NULL
)
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [bigint] NOT NULL,
	[fullName] [nvarchar](250) NULL,
	[phoneNumber] [varchar](15) NULL,
	[address] [nvarchar](500) NULL,
	[idCard] [varchar](150) NULL,
	[dateWork] [date] NULL,
	[img] [varbinary](max) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbTable]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTable](
	[id] [bigint] NOT NULL,
	[nameTb] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
	[idGroup] [bigint] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_tbTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbTable] ([id], [nameTb], [description], [idGroup], [status]) VALUES (2021083109244270, N'Bàn 1', N'không có gì dâu', 2021083109244269, 0)
INSERT [dbo].[tbTable] ([id], [nameTb], [description], [idGroup], [status]) VALUES (2021083109250751, N'Bàn 2', N'cái này là bàn 2', 2021083109244269, 0)
INSERT [dbo].[tbTable] ([id], [nameTb], [description], [idGroup], [status]) VALUES (2021083109251381, N'Bàn 3', N'cái này là bàn 3', 2021083109244269, 0)
/****** Object:  Table [dbo].[tbStore]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbStore](
	[id] [bigint] NOT NULL,
	[nameStore] [nvarchar](500) NULL,
	[addressStore] [nvarchar](500) NULL,
	[phoneStore] [nvarchar](500) NULL,
	[taxCode] [nvarchar](250) NULL,
 CONSTRAINT [PK_tbStore] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbStore] ([id], [nameStore], [addressStore], [phoneStore], [taxCode]) VALUES (202109221152128393, N'Quán cafe Thanh Bình', N'Không rõ địa chỉ', N'0944369698', N'000000000000')
/****** Object:  Table [dbo].[tbProduct]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbProduct](
	[id] [bigint] NOT NULL,
	[idGroupProduct] [bigint] NULL,
	[name] [nvarchar](500) NULL,
	[unit] [nvarchar](50) NULL,
	[unitPrice] [float] NULL,
	[description] [nvarchar](500) NULL,
	[img] [varbinary](max) NULL,
 CONSTRAINT [PK_tbProduct] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbGroupTb]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGroupTb](
	[id] [bigint] NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
 CONSTRAINT [PK_tbGroupTb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbGroupTb] ([id], [name], [description]) VALUES (2021083109244268, N'Phòng lạnh', N'lầu 1 đó')
INSERT [dbo].[tbGroupTb] ([id], [name], [description]) VALUES (2021083109244269, N'Sảnh trước', N'tầng trệt')
/****** Object:  Table [dbo].[tbGroupProduct]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGroupProduct](
	[idGr] [bigint] NOT NULL,
	[nameGr] [nvarchar](500) NULL,
	[descriptionGr] [nvarchar](500) NULL,
 CONSTRAINT [PK_tbGroupProduct] PRIMARY KEY CLUSTERED 
(
	[idGr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbGroupProduct] ([idGr], [nameGr], [descriptionGr]) VALUES (2021083109244268, N'Đồ uống', N'danh sách đồ uống')
INSERT [dbo].[tbGroupProduct] ([idGr], [nameGr], [descriptionGr]) VALUES (2021083109244269, N'Đồ ăn vặt', NULL)
/****** Object:  Table [dbo].[tbCustomer]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbCustomer](
	[id] [bigint] NOT NULL,
	[name] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[phone] [varchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_tbCustomer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbCustomer] ([id], [name], [address], [phone], [description], [status]) VALUES (202109171040211358, N'Khách vãng lai', N'ở đâu đó', N'09123456789', N'mới', 0)
/****** Object:  Table [dbo].[tbBillDetailt]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbBillDetailt](
	[id] [bigint] NOT NULL,
	[unitPrice] [float] NULL,
	[quantity] [int] NULL,
	[idBill] [bigint] NULL,
	[idProduct] [bigint] NULL,
	[intoMoney] [float] NULL,
	[description] [nvarchar](500) NULL,
 CONSTRAINT [PK_tbBillDetailt] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbBill]    Script Date: 01/18/2022 23:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbBill](
	[id] [bigint] NOT NULL,
	[idTable] [bigint] NULL,
	[billDate] [datetime] NULL,
	[totalMoney] [float] NULL,
	[status] [bit] NULL,
	[description] [nvarchar](500) NULL,
	[idUser] [bigint] NULL,
	[idCustomer] [bigint] NULL,
 CONSTRAINT [PK_bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTable]    Script Date: 01/18/2022 23:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_InsertTable]
@forBillDetailt1 forBillDetailt1 readonly
AS
BEGIN
    insert into tbBillDetailt select * from @forBillDetailt1
END
GO
